<%- include('../partials/head-links.ejs') %>
<%- include('../partials/head-nav.ejs') %>

<h1>Please reset your password using the form below </h1>

<% if (errorMessage){ %>
    <div class="user-message user-message--error">
        
            <% errorMessage.forEach(function(msg){ %>
                <div class="">
                    <%=msg.msg%> 
                </div>
            <% }) %>
    </div>
<% } else if(userFound) { %>
<div class="user-message user-message--error">        
    <%=userFound%>
</div>
<% } %>

<div class="spf-container">
    <form action="/password-reset-final-step" method="POST" class="spf-form">

        <input type="hidden" name="username" value="<%=username%>">

        <div class="spf-form-container">
            <label>New Password:</label>
            <div class="">
                <input type="text" name="newPassword" placeholder="New Password">
            </div>
        </div>

        <div class="spf-form-container">
            <label>Confirm Password:</label>
            <div class="">
                <input type="text" name="newPasswordConfirm" placeholder="Confirm New Password">
            </div>
        </div>

        <div class="spf-form-container">
            <button type="submit">Submit</button>
        </div>

    </form>
</div>





<%- include('../partials/footer.ejs') %>

