<%- include('../partials/head-links.ejs') %>
<%- include('../partials/head-nav.ejs') %>

<h1>
Password Reset
</h1>

<% if (errorMessage){ %>
    <div class="user-message user-message--error">
        
            <% errorMessage.forEach(function(msg){ %>
                <div class="">
                    <%=msg.msg%> 
                </div>
            <% }) %>
    </div>
<% } %>

<% if(userFound) { %>
<div class="user-message user-message--error">        
    <%=userFound%>
</div>
<% } %>


<p>Please enter your email address, we will send you a link to reset your password</p>
<div class="spf-container">
    <form action="/reset-password" method="post">
        <div class="spf-form-container">
            <label>Username / email:</label>
            <input type="email" placeholder="e-mail" name="username"/>
        </div>
        <div class="spf-form-container">
            <input type="submit"/>
        </div>
    </form>
</div>


<%- include('../partials/footer.ejs') %>

